extends base.pug

block title 
    title #{title}-Footwork
block style 
    style
        include ../static/style.css
        include ../static/eventStyle.css        
    
block script 
    script 
        include ../static/index.js

block content   
    div  
        h1 Ongoing Events- Participate Now!!!  
        p No current events available.