extends base.pug

block title 
    title Footwork

block style 
    style
        include ../static/style.css
    
block script 
    script 
        include ../static/index.js

block content 
        div#intro 
            h1 Welcome To #[span Footwork]
            span(id='Introtext') Join Our Balletic Movement 
        main
            div#special 
                h1 Our Specialities 
                div#cardbox 
                    div.card#c1  
                        h2 Toning & Flexibiliy 
                        img.cardImg(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_1DeKjJkkSrh4IdT74OKEgTQgqrmKHJsY6g&usqp=CAU", alt="Img1")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit similique optio aspernatur id eius dolor saepe qui, facere consectetur! Veritatis eaque commodi quis eos quibusdam ab maiores quas quam nulla.

                    div.card#c2 
                        h2  Contemprorary Styles
                        img.cardImg(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX9MyGfo8MLA5cEYcAxhR5xEnVwObDVBH8aA&usqp=CAU", alt="Img2")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto dolorum quod exercitationem nostrum cumque possimus facere rerum eaque quaerat quae incidunt similique, voluptatum enim repellendus explicabo. Veritatis, exercitationem voluptatibus!

                    div.card#c3
                        h2  Classical Styles
                        img.cardImg(src="https://i.pinimg.com/736x/a7/2d/97/a72d97cc807f9888b5757abbd7e8e1ee.jpg", alt="Img3")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. In, facere. Quo velit suscipit sed iusto ratione dicta a amet. Eum temporibus vel facere deserunt soluta repellat quas blanditiis repellendus provident.

                    div.card#c4 
                        h2  Sync Performanaces 
                        img#img4.cardImg(src="https://img.favpng.com/13/9/2/dance-party-clip-art-png-favpng-kLxYhd015vYZ08cgZztAzQqwa.jpg", alt="Img4")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. At quaerat pariatur illum tempora voluptates repellendus minima! Vitae mollitia iste molestias aliquam cumque, aut sed rerum dicta consequuntur fugit soluta deleniti.
            div#About
                h1 About Us 
                img(src="https://content.jdmagicbox.com/comp/chhindwara/b1/9999p7162.7162.180512112508.n9b1/catalogue/addition-dance-academy-chhindwara-ho-chhindwara-dance-classes-c9h2wz40ve.jpg", alt="AboutImg")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quis laborum tempora odit minima maxime nihil perspiciatis exercitationem incidunt, doloribus molestias ab sint repellendus labore iure accusantium, maiores blanditiis omnis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, labore cumque voluptatem nobis dolorum quidem voluptate similique, esse atque, ipsum debitis. Incidunt accusamus asperiores quidem rerum error! Vero, nam esse.Unde laboriosam repudiandae vel perspiciatis aperiam debitis quia. Impedit, sunt dicta iste quasi sit corrupti est ratione explicabo architecto asperiores fugit temporibus ducimus necessitatibus nisi nemo veniam neque quam ab.Quis iusto praesentium sunt ipsum expedita esse dolorem porro dolor magni  sed aperiam sequi veritatis sit a#[br] voluptatem dolores fuga, ad, corporis nemo. Exercitationem possimus dolore quis eos consequatur id!Distinctio, inventore neque rerum, error debitis ea sequi, eum corrupti doloribus quas dolor id facilis in labore cumque autem atque eius eveniet? Asperiores quia aliquid repellendus nam ipsam eveniet necessitatibus?Fugiat est iure qui, repellendus quae #[br] #[br] sapiente, quis excepturi illo deleniti corporis quod pariatur cupiditate repellat aliquam saepe doloremque illum minus perspiciatis dolor velit. Ipsam dolores porro incidunt nihil a.Rem sunt animi, obcaecati minima porro adipisci eos suscipit totam sequi, at ad explicabo quis voluptate? Nihil nisi, reiciendis laboriosam tempore cumque minus voluptates similique maxime saepe voluptas libero facilis!Iusto, ipsum! Necessitatibus minus exercitationem sit id numquam esse similique laudantium cum distinctio nulla porro ipsa, facere sed molestias ex. Maxime cupiditate cumque adipisci eius ullam unde nihil dolor eum!Voluptatum, odio quam quia corporis nisi quod porro totam nulla, reprehenderit beatae esse quas dolorem temporibus ipsum deserunt inventore a eaque neque ratione aperiam distinctio debitis. Velit aliquid repudiandae eveniet?Fugit fuga quos eveniet reprehenderit voluptate necessitatibus beatae veritatis corporis amet nobis aperiam, autem consequatur? Ullam, ea quisquam animi impedit quia laudantium at veritatis id accusantium iure consequatur quis 